GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
OLLAMA_MODEL=qwen2.5:3b
VISION_MODEL=moondream
GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE
GROQ_API_KEY_2=YOUR_GROQ_API_KEY_2_HERE
GROQ_API_KEY_3=YOUR_GROQ_API_KEY_3_HERE
.
.
.


WOLFRAM_API_KEY=YOUR_WOLFRAM_API_KEY_HERE
NEWS_API_KEY=YOUR_NEWS_API_KEY_HERE
SENDER_EMAIL=YOUR_EMAIL_HERE
SENDER_PASSWORD=Your_app_password_here
TWILIO_SID=Your_Twilio_SID_Here
TWILIO_TOKEN=Your_Twilio_Auth_Token_Here

SCREENSHOT_PATH=YOUR_SCREENSHOT_PATH_HERE